<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="webbarometer.appenders">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <BigQueryAppender name="BIGQUERY">
        
        </BigQueryAppender>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="BIGQUERY" />
        </Root>
    </Loggers>
</Configuration>